*{
    margin: 0;
    padding: 0;
}


body{
    background-color: rgb(202, 240, 248);
    font-family: "Roboto", sans-serif;
}

ul{
    list-style-type:none;
}

a{
    text-decoration: none;
}

h1{
    color: white;
    text-align: center;
    font-weight: 900;
    margin-bottom: 22px;
}

h2{
    color: #03045e;
}

.promo{
    background: linear-gradient(45deg, #0077b6, #00b4d8);
    padding: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.menu ul{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.menu a{
    color: #fff;
    font-weight: 900;
}





.about, .skills, .project, .contact{
    padding: 40px;
    margin: 20px auto;
    max-width: 900px;
    background: white;
    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.about__title{
    margin-bottom: 20px;
}

.about__text{
    color: #03045e;
    margin-bottom: 40px;
}

.about__image{
    width: 400px;
    border-radius: 30px;
}


.skills__title{
    margin-bottom: 30px;
}


.skills ul{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.skills li {
        padding: 10px 20px;
        border-radius: 50px;
        background: linear-gradient(45deg, #0077b6, #00b4d8);
}

.skills a {
    color: #fff;
    font-weight: 900;
}